@media screen and (max-width: 992px) {
  .footer-image {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .reserve {
    display: flex;
    justify-content: center;
  }
}

/* * FirstSection Component  */

@media screen and (max-width: 992px) {
  .res {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .first {
    width: 100%;
    text-align: center;
  }

  .btns {
    justify-content: center;
  }
}
